<div class="container">
    <p>Projeto desenvolvimento baseado na api <a href="https://www.abibliadigital.com.br" target="_blank">a biblia digital</a>
        e tendo como inspiração 
    <a href="https://www.bibliaonline.com.br" target="_blank"> o site biblia online</a>.</p>
    <p>O Projeto foi desenvolvido com as seguintes ferramentas:</p>
    <dl class="d-flex gap-lg-5">
        <div class="col-2">
            <dt >ASPNET MVC</dt>
            <br/>
            <dd> Html</dd>
            <dd> Bootstrap</dd>
            <dd> HttpClient</dd>
        </div>
        <div class="col-2">
            <dt> INTEGRANTES</dt>
            <dd><a href="https://www.linkedin.com/in/mateusdavidev/" target="_blank">Mateus Davi </a></dd>
            <dd><a href="https://www.linkedin.com/in/felipe-bernardes-9590531b7/" target="_blank">Felipe Bernardes</a></dd>
            <dd><a href="" target="_blank">Alex Sante</a></dd>
            <dd><a href="" target="_blank">Gabriel</a></dd>
        </div>
        
    </dl>

</div>